# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: integration tests

on:
  workflow_call:

    secrets:
      OP_SERVICE_ACCOUNT_TOKEN:
        description: 1password vault services account token
        required: false

permissions:
  contents: read

jobs:

  integration-tests:
    name: 1password-action integration tests
    runs-on: ubuntu-latest

    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@143a85f84a90555d121cde2ff5872e393a47ab9f      # v1.0.0
        with:
          version: 2.32.0

      - name: Load slack webhook
        uses: 1password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          SLACK_BOT_TOKEN: op://platform/svc-slack/platform-slack-bot-token

      - name: test common-actions/slack-bot
        uses: twplatformlabs/common-actions/slack-bot@main
        with:
          channel: lab-events
          message: integration test of twplatformlabs/common-actions
          custom-message: ""
          include-link: "false"
          include-tag: "false"
